apiVersion: v1
kind: Secret
metadata:
  name: insight-ms-entra-main
  labels:
    app.kubernetes.io/part-of: insight
  annotations:
    insight.cyberfabric.com/connector: ms-entra
    insight.cyberfabric.com/source-id: ms-entra-main
type: Opaque
stringData:
  azure_tenant_id: "CHANGE_ME"        # Microsoft Entra tenant (directory) ID
  azure_client_id: "CHANGE_ME"        # App registration client ID
  azure_client_secret: "CHANGE_ME"    # App registration client secret (sensitive)
